<div class="modal-dialog">
	<div class="modal-content" >
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
				<div class="section-title text-center">
			          <h2 class="head-title lg-line">Register</h2>
			   	</div>
		</div>
		<div class="modal-body">
			<form>
				<div class="col-md-6">
					<div class="group">
					    <!-- ko if: userAddModel.id -->
					  	<select disabled="disabled" data-bind="options: userTypeList, optionsValue: 'name', optionsText: 'displayName', value: userAddModel.userType" class="form-control select-lg" id="userType"></select>
					  	<span class="highlight"></span><span class="bar"></span>
					  	<!-- /ko -->
					  	<!-- ko ifnot: userAddModel.id -->
					  	<select data-bind="options: userTypeList, optionsValue: 'name', optionsText: 'displayName', value: userAddModel.userType" class="form-control select-lg" id="userType"></select>
					  	<span class="highlight"></span><span class="bar"></span>
					  	<!-- /ko -->
					  	<label class="alwaysFocused">User Type</label>
				 	</div>
			 	</div>
			 <div class="col-md-6">
				 <div class="group">
				    <input data-bind="textInput: userAddModel.username" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Username</label>
				  </div>
			  </div>
			  <div class="col-md-6">
				  <div class="group">
				    <input data-bind="textInput: userAddModel.firstName" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">First Name</label>
				  </div>
			  </div>
			  <div class="col-md-6">
			  	<div class="group">
				    <input data-bind="textInput: userAddModel.lastName" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Last Name</label>
			  	</div>
			  </div>
			 <!--  ko ifnot: userAddModel.id -->
			  <div class="col-md-6">
				  <div class="group">
				    <input data-bind="textInput: userAddModel.password" type="password"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Password</label>
				  </div>
			  </div>
			  <div class="col-md-6">
			  	<div class="group">
				    <input data-bind="textInput: userAddModel.confirmPassword" type="password"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Confirm Password</label>
			  	</div>
			  </div>
			  <!-- /ko -->
			  <div class="col-md-6">
				  <div class="group">
				    <input data-bind="textInput: userAddModel.emailAddress" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">E-mail Address</label>
				  </div>
			  </div>
			  <div class="col-md-6">
			  	<div class="group">
				    <input data-bind="textInput: userAddModel.contactNumber" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Contact Number</label>
			  	</div>
			  </div>
			  
			  <div class="row" data-bind="if: showDoctorInformation">
			  
			  	<div class="col-md-6">
				  <div class="group">
				    <input data-bind="textInput: userAddModel.hospital_name" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Hospital Name</label>
				  </div>
			  </div>
			  <div class="col-md-6">
			  	<div class="group">
				    <input data-bind="textInput: userAddModel.hospital_address" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Hospital Address</label>
			  	</div>
			  </div>
	  		</div>
	  		<div class="row" data-bind="if: showPatientInformation">
			   <div class="group">
				     <input data-bind="textInput: userAddModel.address" type="text"><span class="highlight"></span><span class="bar"></span>
					 <label class="alwaysFocused">Address</label>
				</div>
	  		
	  		
			   <div class="col-md-6">
			   	<div class="group">
			   		<input data-bind="textInput: userAddModel.birthdate" type="date"><span class="highlight"></span><span class="bar"></span>
			   		<label class="alwaysFocused">Birthdate</label>
			   	</div>
			   </div>
			   
			   <div class="col-md-6">
			   	<div class="group">
			      <select data-bind="options: sexList, value: userAddModel.sex"></select><span class="highlight"></span><span class="bar"></span>
			   	  <label class="alwaysFocused">Sex</label>
			   	 </div>
			   </div>
			   
	  			</div>
			</form>
		 </div>
		 
		 <div class= "modal-footer">	  
			  <button data-bind="click: save" type="button" class="button btn-appoint">Register
			    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
			  </button>
		 </div>
	</div>
</div>

