<!-- <div class="container-fluid">

	<div class="col-sm-3 sidenav">
		<div class=" text-center">
			<br><span class="glyphicon glyphicon-user fa-5x"></span><br>
			<span data-bind="text: userDetails.fullName"></span><br>
			<span data-bind="text: userDetails.userType"></span><br>
		</div>
	</div>
	
	<div class="col-sm-9">
	
		<div class="page-header">
			<h1>TremorPro <small><span>Hospital Name Here</span></small></h1>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Patient Recent Activity</h3></div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#" class="list-group-item" data-bind='click:showPatientInfo'>Patient Name<span class="badge pull-right">Date and Time</span></a>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">User Account Recent Activity</h3></div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#" class="list-group-item">Activity Name<span class="badge pull-right">Date and Time</span></a>
				</div>
			</div>
			<div class="panel-footer">
				<span>View All Recent Activity</span><span class="glyphicon glyphicon-circle-arrow-right"></span>
			</div>
		</div>
		
	</div>
	
</div>
 -->
 
 
 
 
 
 
 
 
 
<div class="jumbotron hero">
	<div class="container">
	    <div class="row">
	        <div class="col-md-6">
	            <div></div>
	        </div>
	        <div class="col-md-6">
	            <h1 class="tremorPro">TremorPro </h1>
	            <p class="text-center">Your Web-Based Tremor Monitoring Application</p>
	        </div>
	    </div>
	</div>
</div>

<div class="container-fluid">
    <section>
    	<div class="row">
    	
            <div class="col-md-2">
				<h3 class="title">Account Details:</h3>
				<p><i class="fa fa-user-plus big-icon" aria-hidden="true"></i></p>
				<p data-bind="text: userDetails.fullName"></p>
				<p data-bind="text: userDetails.userType"></p>
            </div>
            
            <div class="col-md-9 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="title">Patient Recent Activity</h3>
							</div>
							<div class="panel-body">
								<div class="list-group">
									<a href="#" class="list-group-item">User xxxxxx uploaded a session<span class="badge pull-right">08/28/2017 13:00</span></a>
									<a href="#" class="list-group-item">User xxxxxxxxx uploaded a session<span class="badge pull-right">08/25/2017 12:00</span></a>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	
    <footer>
	<br />
        <div class="row">
            <div class="col-md-6">
                <h4> © TremorPro 2017</h4>
        	</div>
        </div>
    </footer>
    
</div>