<!-- <div class="jumbotron hero">
	<div class="container">
	    <div class="row">
	        <div class="col-md-6">
	            <div></div>
	        </div>
	        <div class="col-md-6">
	            <h1 class="tremorPro">TremorPro </h1>
	            <p class="text-center">Your Web-Based Tremor Monitoring Application</p>
	        </div>
	    </div>
	</div>
</div>

<div class="container-fluid">
    <section>
    	<div class="row">
    	
            <div class="col-md-2 box">
				<h3 class="title">Account Details:</h3>
				
				<div data-bind="if: isAdmin">
				ko if: isAdmin
					<p><i class="fa fa-user-plus big-icon" aria-hidden="true"></i></p>
				/ko
				</div>
				
				<div data-bind="if: isPatient">
				ko if: isPatient
					<p><i class="fa fa-user big-icon" aria-hidden="true"></i></p>
				/ko
				</div>
				
				<div data-bind="if: isDoctor">
				ko if: isDoctor
					<p><i class="fa fa-user-md big-icon" aria-hidden="true"></i></p>
				/ko
				</div>
				
				<p data-bind="text: userDetails.fullName"></p>
				<p data-bind="text: userDetails.userType"></p>
            </div>
            
            <div class="col-md-9 col-md-offset-1 box">
                <div class="row">
                    <div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="title">Patient Recent Activity</h3>
							</div>
							<div class="panel-body">
								<div class="list-group">
									<a href="#" class="list-group-item">User xxxxxx uploaded a session<span class="badge pull-right">08/28/2017 13:00</span></a>
									<a href="#" class="list-group-item">User xxxxxxxxx uploaded a session<span class="badge pull-right">08/25/2017 12:00</span></a>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	
    <footer>
	<br />
        <div class="row">
            <div class="col-md-6">
                <h4> &#9400; TremorPro 2017</h4>
        	</div>
        </div>
    </footer>
    
</div> -->

  	<!--banner-->
	<section id="banner2" class="banner2">
		<div class="bg-color">
			<div class="container">
				<div class="row">
					<div class="banner-info">
						<div class="banner-logo text-center">
						</div>
						<div class="banner-text text-center">
							<h1 class="white">TremorPro<sup>+</sup></h1>
							<p>Your Web-Based Tremor Monitoring Application</p>
							<p>Brings health care to your home since 2017.</p>
							<p>Scroll down to begin.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ banner-->
	<!--service-->
	<section id="service" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
						<h2 class="ser-title">Welcome</h2>
						<hr class="botm-line">
					<!-- ko if: isAdmin -->
						<div class="icon text-center" data-bind="if: isAdmin">
								<i class="fa fa-user-plus big-icon"></i>
						</div>
					<!-- /ko -->
					
					
					<!-- ko if: isPatient -->
						<div class="icon" data-bind="if: isPatient">
							<i class="fa fa-user big-icon"></i>
						</div>
					<!-- /ko -->
					
					<!-- ko if: isDoctor -->
					<div class="icon" data-bind="if: isDoctor">
							<i class="fa fa-user-md big-icon"></i>
						</div>
					<!-- /ko -->
					
					<p data-bind="text: userDetails.fullName"></p>
					<p data-bind="text: userDetails.userType"></p>
				</div>
				
				<div class="col-md-8 col-sm-8">
					<h2 class="ser-title">Patient Recent Activity</h2>
					<hr class="botm-line">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item">User xxxxxx uploaded a session<span class="badge pull-right">08/28/2017 13:00</span></a>
								<a href="#" class="list-group-item">User xxxxxxxxx uploaded a session<span class="badge pull-right">08/25/2017 12:00</span></a>
							</div>
						</div>
					</div>
				</div>
				
				
				</div>
				
				<!-- <div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-stethoscope"></i>
						</div>
						<div class="icon-info">
							<h4>24 Hour Support</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-ambulance"></i>
						</div>
						<div class="icon-info">
							<h4>Emergency Services</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-user-md"></i>
						</div>
						<div class="icon-info">
							<h4>Medical Counseling</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-medkit"></i>
						</div>
						<div class="icon-info">
							<h4>Premium Healthcare</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div> -->
			</div>
<!-- 		</div> -->
	</section>
	<!--/ service-->
	<!--cta-->
	<!-- <section id="cta-1" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="schedule-tab">
    			<div class="col-md-4 col-sm-4 bor-left">
    				<div class="mt-boxy-color"></div>
	    			<div class="medi-info">
		    			<h3>Emergency Case</h3>
						<p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
						<a href="#" class="medi-info-btn">READ MORE</a>		    	
					</div>
    			</div>
				<div class="col-md-4 col-sm-4">
					<div class="medi-info">
		    			<h3>Emergency Case</h3>
						<p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
						<a href="#" class="medi-info-btn">READ MORE</a>	
					</div>
				</div>
				<div class="col-md-4 col-sm-4 mt-boxy-3">
					<div class="mt-boxy-color"></div>
					<div class="time-info">
			    			<h3>Opening Hours</h3>
							<table style="margin: 8px 0px 0px;" border="1">
								<tbody>
									<tr>
									<td>Monday - Friday</td>
									<td>8.00 - 17.00</td>
									</tr>
									<tr>
									<td>Saturday</td>
									<td>9.30 - 17.30</td>
									</tr>
									<tr>
									<td>Sunday</td>
									<td>9.30 - 15.00</td>
									</tr>
								</tbody>
							</table>				    		
					</div>
				</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--cta-->
	<!--about-->
	<!-- <section id="about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
			        <div class="section-title">
			          <h2 class="head-title lg-line">Lalalalalalla</h2>
			          <hr class="botm-line">
			          <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
			          <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
			        </div>
			    </div>
			    <div class="col-md-9 col-sm-8 col-xs-12">
			       <div style="visibility: visible;" class="col-sm-9 more-features-box">
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
			          </div>
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
                        </div>
			        </div>
			    </div>
			</div>
		</div>
	</section> -->
	<!--/ about-->
	<!--testimonial-->
	<!-- <section id="testimonial" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">see what patients are saying?</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						Paragraph
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						User Image
						<a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
						User Name
						<h3>Chua<span>Manila</span></h3>
					</div>
				</div>
			    <div class="col-md-4 col-sm-4">
					<div class="testi-details">
						Paragraph
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						User Image
						<a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
						User Name
						<h3>Corre<span>Fairview</span></h3>
					</div>
				</div>
			    <div class="col-md-4 col-sm-4">
					<div class="testi-details">
						Paragraph
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						User Image
						<a href="#"><img src="img/thumb.png" alt="" class="img-responsive"></a>
						User Name
						<h3>Meiz<span>Bulacan</span></h3>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--/ testimonial-->
	<!--cta 2-->
	<section id="cta-2" class="section-padding">
		<div class="container">
			<div class=" row">
				<div class="col-md-2"></div>
	            <div class="text-right-md col-md-4 col-sm-4">
	              <h2 class="section-title white lg-line"> A few words<br> from us </h2>
	            </div>
	            <div class="col-md-4 col-sm-5">
	              We are your very first web-based tremor application. We use an advanced technology,
	              which is the Leap Motion Sensor, in order to quantify your hand tremors without contact.
	              Leap Motion Sensor captures every millisecond of movement there is and then it is processed
	              in order to give you the amplitude and frequency of your hand tremor. This data would then be
	              visible to your doctor. Your convenience and satisfaction is what makes us going.
	              <p class="text-right text-primary"><i>- TremorPro Developers</i></p>
	            </div>
	            <div class="col-md-2"></div>
	        </div>
		</div>
	</section>
	<!--cta-->
	<!--contact-->
	<!-- <section id="contact" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">Contact us</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
			      <h3>Contact Info</h3>
			      <div class="space"></div>
			      <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>321 Awesome Street<br>
			        New York, NY 17022</p>
			      <div class="space"></div>
			      <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@companyname.com</p>
			      <div class="space"></div>
			      <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 800 123 1234</p>
			    </div>
				<div class="col-md-8 col-sm-8 marb20">
					<div class="contact-info">
							<h3 class="cnt-ttl">Having Any Query! Or Book an appointment</h3>
							<div class="space"></div>
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
							<form action="" method="post" role="form" class="contactForm">
							    <div class="form-group">
                                    <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                
								<div class="form-action">
									<button type="submit" class="btn btn-form">Send Message</button>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--/ contact-->
	<!--footer-->
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">About Us</h4>
							</div>
							<div class="info-sec">
								<p>TremorPro is an online tremor monitoring application founded in 2017.
								</p>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Follow us</h4>
						</div>
						<div class="info-sec">
							<ul class="social-icon">
								<li class="bglight-blue"><i class="fa fa-facebook"></i></li>
								<li class="bgred"><i class="fa fa-google-plus"></i></li>
								<li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
								<li class="bglight-blue"><i class="fa fa-twitter"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						&#9400; Copyright TremorPro. All Rights Reserved
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ footer-->