
 
<div class="jumbotron hero">
	<div class="container">
	    <div class="row">
	        <div class="col-md-6">
	            <div></div>
	        </div>
	        <div class="col-md-6">
	            <h1 class="tremorPro">TremorPro </h1>
	            <p class="text-center">Your Web-Based Tremor Monitoring Application</p>
	        </div>
	    </div>
	</div>
</div>

<div class="container-fluid">
    <section>
    	<div class="row">
    	
            <div class="col-md-2 box">
				<h3 class="title">Account Details:</h3>
				
				<!-- <div data-bind="if: isAdmin"> -->
				<!-- ko if: isAdmin -->
					<p><i class="fa fa-user-plus big-icon" aria-hidden="true"></i></p>
				<!-- /ko -->
				<!-- </div> -->
				
				<!-- <div data-bind="if: isPatient"> -->
				<!-- ko if: isPatient -->
					<p><i class="fa fa-user big-icon" aria-hidden="true"></i></p>
				<!-- /ko -->
				<!-- </div> -->
				
				<!-- <div data-bind="if: isDoctor"> -->
				<!-- ko if: isDoctor -->
					<p><i class="fa fa-user-md big-icon" aria-hidden="true"></i></p>
				<!-- /ko -->
				<!-- </div> -->
				
				<p data-bind="text: userDetails.fullName"></p>
				<p data-bind="text: userDetails.userType"></p>
            </div>
            
            <div class="col-md-9 col-md-offset-1 box">
                <div class="row">
                    <div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="title">Patient Recent Activity</h3>
							</div>
							<div class="panel-body">
								<div class="list-group">
									<a href="#" class="list-group-item">User xxxxxx uploaded a session<span class="badge pull-right">08/28/2017 13:00</span></a>
									<a href="#" class="list-group-item">User xxxxxxxxx uploaded a session<span class="badge pull-right">08/25/2017 12:00</span></a>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	
    <footer>
	<br />
        <div class="row">
            <div class="col-md-6">
                <h4> &#9400; TremorPro 2017</h4>
        	</div>
        </div>
    </footer>
    
</div>