<div class="container" data-part="content">
    <div>
        <form>
            <div class="form-group">
            	<h1>Patient Information</h1>
            	<hr />
                <label class="control-label">Patient's Name: </label><span></span><br>
                <label class="control-label">Birthdate: </label><span></span><br>
                <label class="control-label">Sex: </label><span></span><br>
                <label class="control-label">Address: </label><span></span><br>
            </div>
            <div>
            	<h1>Recent Patient Activity</h1>
            	<hr />
            	<!-- This span class, once clicked, expands and therefore contains the data of the recent patient upload. -->
            	<span><span class="caret"></span>Date here 1</span>
            </div>
        </form>
    </div>
</div>