<div class="container" data-part="content">
	<div class="col-sm-3 sidenav text-center">
		<form>
			<div class="form-group">
			
                <label class="control-label">Patient's Name: </label><br>
                <input class="form-control" type="text" readonly><br>
                
                <label class="control-label">Birthdate: </label><br>
                <input class="form-control" type="text" readonly><br>
                
                <label class="control-label">Sex: </label><br>
                <input class="form-control" type="text" readonly><br>
                
                <label class="control-label">Address: </label><br>
                <input class="form-control" type="text" readonly><br>
                
            </div>
		</form>
	</div>
	<div class="col-sm-9">
		<!-- Start of Accordion Bootstrap Shit -->
		<div class="row">
	        <div class="fancy-collapse-panel">
	            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	                <div class="panel panel-default">
	                    <div class="panel-heading" role="tab" id="headingOne">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">July 26, 2017
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	                        <div class="panel-body">
	                            <!-- This is the content of a certain Session Upload -->         
								<table class="table table-bordered table-hover table-responsive">
									<thead>
										<tr>
											<th colspan="3">Left</th>
											<th colspan="3">Right</th>
										</tr>
										<tr>
											<th></th>
											<th>Amplitude</th>
											<th>Frequency</th>
											<th></th>
											<th>Amplitude</th>
											<th>Frequency</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Resting</td>
											<td></td>
											<td></td>
											<td>Resting</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Postural</td>
											<td></td>
											<td></td>
											<td>Postural</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Task-Specific</td>
											<td colspan="2">[IMAGE]</td>
											<td>Task-Specific</td>
											<td colspan="2">[IMAGE]</td>
										</tr>
										
									</tbody>
								</table>
	                    	</div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading" role="tab" id="headingTwo">
	                        <h4 class="panel-title">
	                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	                        <div class="panel-body">
	                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading" role="tab" id="headingThree">
	                        <h4 class="panel-title">
	                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	                        <div class="panel-body">
	                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

        </div>
	</div>
</div>