<div class="container" data-part="content">
    <div>
        <div class="pull right">
            <input type="search"><span class="glyphicon glyphicon-search"></span><br><br>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item"><span>Patient Name 1</span><span class="pull-right"> <span class="glyphicon glyphicon-edit"></span><span class="glyphicon glyphicon-remove"></span></span>
                </li>
            </ul>
        </div>
        <div>
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button">Add a Patient</button>
            </div>
        </div>
    </div>
</div>