<div class="modal-dialog">
	<div class="modal-content" >
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
				<div class="section-title text-center">
			          <h2 class="head-title lg-line" data-bind="text:title"></h2>
			   	</div>
		</div>
		<div class="modal-body">
			<form>
			 	<div class="group">
				  	<select disabled="disabled" data-bind="options: userTypeList, optionsValue: 'name', optionsText: 'displayName',value: PatientAddModel.userType" class="form-control select-lg disabled" id="userType"></select>
					<span class="highlight"></span><span class="bar"></span>
					<label class="alwaysFocused">User Type</label>
				</div>
				
				<div class="group">
				      <!-- ko ifnot: PatientAddModel.id -->
				      <input type="text" class="form-control" data-bind="textInput: PatientAddModel.username">
				      <span class="highlight"></span><span class="bar"></span>
				      <!-- /ko -->
				      <!-- ko if: PatientAddModel.id -->
				      <input type="text" class="form-control" data-bind="textInput: PatientAddModel.username" disabled="disabled">
				      <span class="highlight"></span><span class="bar"></span>
				      <!-- /ko -->
				      <label class="alwaysFocused">Username</label>
				</div>
				<!-- ko ifnot: PatientAddModel.id -->
				  	<div class="col-md-6">
					  <div class="group">
					    <input data-bind="textInput: PatientAddModel.password" type="password"><span class="highlight"></span><span class="bar"></span>
					    <label class="alwaysFocused">Password</label>
					  </div>
					</div>
			  
				  <div class="col-md-6">
					  <div class="group">
					    <input data-bind="textInput: PatientAddModel.confirmPassword" type="password"><span class="highlight"></span><span class="bar"></span>
					    <label class="alwaysFocused">Confirm Password</label>
				  </div>
			  </div>
			  <!-- /ko -->
			 <div class="col-md-6">
				 <div class="group">
				    <input data-bind="textInput: PatientAddModel.firstName" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">First Name</label>
				  </div>
			  </div>
			  <div class="col-md-6">
				  <div class="group">
				    <input data-bind="textInput: PatientAddModel.lastName" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Last Name</label>
				  </div>
			  </div>

			  <div class="col-md-6">
				  <div class="group">
				    <input data-bind="textInput: PatientAddModel.emailAddress" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">E-mail Address</label>
				  </div>
			  </div>
			  
			  <div class="col-md-6">
			  	<div class="group">
				    <input data-bind="textInput: PatientAddModel.contactNumber" type="text"><span class="highlight"></span><span class="bar"></span>
				    <label class="alwaysFocused">Contact Number</label>
			  	</div>
			  </div>
	  		
			   <div class="col-md-6">
			   	<div class="group">
			   		<input data-bind="textInput: PatientAddModel.birthdate" type="date"><span class="highlight"></span><span class="bar"></span>
			   		<label class="alwaysFocused">Birthdate</label>
			   	</div>
			   </div>
			   
			   <div class="col-md-6">
			   	<div class="group">
			      <select data-bind="options: sexList, value: PatientAddModel.sex"></select><span class="highlight"></span><span class="bar"></span>
			   	  <label class="alwaysFocused">Sex</label>
			   	 </div>
			   </div>
			   <div class="col-md-12">
				   <div class="group">
					      <input type="text" class="form-control" data-bind="textInput: PatientAddModel.address">
					      <span class="highlight"></span><span class="bar"></span>
					      <label class="alwaysFocused">Address</label>
					</div>
				</div>
				
			</form>
		 </div>
		 
		 
		 <div class="modal-footer">
		  		<!-- ko if: PatientAddModel.id -->
				<button class="btn btn-appoint" type="submit" data-bind="click: save">Update</button>
				<!-- /ko -->
				
		  		<!-- ko ifnot: PatientAddModel.id -->
		  		<button class="btn btn-appoint" type="submit" data-bind="click: save">Add</button>
				<!-- /ko -->
				
				<button class="btn btn-appoint" type="submit" data-bind="click: cancel">Cancel</button>
			</div>
	</div>
</div>
