<body>
<!-- 	<div class="loginmodal-container">
		<h1>Login</h1><br>
		
		<div data-bind="text: errorMessage" style="color:red"></div>
		
		<form>
			<input data-bind="textInput: username" type="text" name="username" placeholder="Username" autofocus>
			<input data-bind="textInput: password" type="password" name="password" placeholder="Password">
			<input data-bind="click: login" type="submit" name="login" class="login loginmodal-submit" value="Login" />
		</form>
		
	  	<div class="login-help">
			<a href="#">Register</a> - <a href="#">Forgot Password</a>
	  	</div>
	</div> -->
<section id="banner" class="banner">
	<div class="bg-color">
		<div class="container">
			<div class="row">
				<div class="banner-info">
					<div class="banner-text text-center">
						<h1 class="white">TremorPro<sup>+</sup></h1>
						<p>Your Web-Based Tremor Monitoring Application</p>
						<p>Brings health care to your home since 2017.</p>
						<button data-bind="click: showModal" class="btn btn-appoint">Have an account? Login.</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
